[Desktop Entry]
Type=Application
Version=1.0
Name=__LABEL__ に接続 (__IFNAME__)
Name[ja]=__LABEL__ に接続 (__IFNAME__)
Comment=__COMMENT__
Exec=lxterminal -t "__LABEL__ に接続" -e bash "__TOOLS_DIR__/switch-wifi.sh" "__CONN__" "__IFNAME__"__WARN_ARG__
Icon=network-wireless
Terminal=false
Categories=Network;
